## Compare two datasets just like SAS proc compare

In [1]:
### Import modules
from pandas import Series, DataFrame
import pandas as pd

In [3]:
## Create the first dataset
raw1 = {'subjid': ['01-001', '01-002', '01-003', '02-001'],
      'sysbp': [154, 152, 148, 149],
      'diabp': [44, 48, 47, 50],
      'weight': [90.5, 83, 78, 77]} ## dicionary
df1 = pd.DataFrame(raw1)
df1

   subjid  sysbp  diabp  weight
0  01-001    154     44    90.5
1  01-002    152     48    83.0
2  01-003    148     47    78.0
3  02-001    149     50    77.0

In [7]:
## Create the second dataset
raw2 = {'subjid': ['01-001', '01-002', '01-003', '02-001'],
      'sysbp': [154, 152, 148, 150],
      'diabp': [44, 48, 47, 50],
      'weight': [90.5, 83, 78, 77],
       'hr': [65,70,72,68]} ## dicionary
df2 = pd.DataFrame(raw2)
df2

   subjid  sysbp  diabp  weight  hr
0  01-001    154     44    90.5  65
1  01-002    152     48    83.0  70
2  01-003    148     47    78.0  72
3  02-001    150     50    77.0  68

### Proc Compare

In [9]:
import datacompy  ## need to install "pip install datacompy" in C:\Users\(your name)\Anaconda3\Scripts.

In [12]:
## comparison 
compare = datacompy.Compare(df1, df2, join_columns='subjid')
print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0       df1        4     4
1       df2        5     4

Column Summary
--------------

Number of columns in common: 4
Number of columns in df1 but not in df2: 0
Number of columns in df2 but not in df1: 1

Row Summary
-----------

Matched on: subjid
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4
Number of rows in df1 but not in df2: 0
Number of rows in df2 but not in df1: 0

Number of rows with some compared columns unequal: 1
Number of rows with all compared columns equal: 3

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 3
Total number of values which compare unequal: 1

Columns with Unequal Values or Types
------------------------------------

  Column df1 dtype df2 dtype  # Unequal  Max Diff  # Null Diff
0  sysbp     int64     int64          1       1.0            0

Sample Rows with Unequal Values
-------------------------------

   subjid  sysbp (df1)  sysbp (df2)
3  02-001          149          150