# Python Variables
- String
- Number
- List
- Tuples
- Sets
- Dictionary

## Variables
- Variable names can contain letters, numbers and an underscore. Ex. var, var1, var_1
- Variable names can start with letters and an underscore, but not with numbers. Ex, _var
- Variable names can not be same as Python functions or keywords.  Ex. print
- Variable with upper case is different from that with lower case Ex. var, Var
- New variables can overwrite previously-defined variables

In [5]:
var = 1
var1 = 2
var_1 = 3
_var = 4

In [6]:
print(var)
print(var1)
print(var_1)
print(_var)

1
2
3
4

In [7]:
# Upper case - different variables
Var = 5
print(Var)

5

In [33]:
# overwriting the previous defined variables
var = 6
print(var)
var = 'Hi'
print(var)

6
Hi

In [34]:
# Create variable starting with number
1var = 6

SyntaxError: invalid syntax (<ipython-input-34-f54be764d0ed>, line 2)

## String
How to create String - use the double quoation ("") or single ('')

In [18]:
message = "Hello"
message2 = 'Hi'

In [19]:
print(message)
print(message2)

Hello
Hi

In [20]:
print(type(message))
print(type(message2))

<class 'str'>
<class 'str'>

In [21]:
## Concantenation of string variables
message3 = "Kevin"
message4 = message + ', ' + message2
message4

'Hello, Hi'

In [22]:
print(type(message4))

<class 'str'>

In [23]:
message3 = message*2
print(message3)
print(type(message3))

HelloHello
<class 'str'>

#### String method

In [24]:
### method that we can use for message string class(ojbect)
dir(message)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [25]:
print(message.upper())
print(message.lower())

HELLO
hello

### Number

type:
- integer - int
- floating number - float

In [26]:
## integer 
num1 = 1

In [27]:
print(type(num1))
print(num1)

<class 'int'>
1

In [28]:
num2 = 2
num3 = num1*num2
print(type(num3))
print(num3)

<class 'int'>
2

In [29]:
## floating number
num4 = 1.2
print(type(num4))

<class 'float'>

In [30]:
## Add floating number and integer
num5 = num4 + num3
print(num5)
print(type(num5))

3.2
<class 'float'>

In [37]:
## Converting integer to floating 
num6 = num1 * 1.0
print(num6)
print(type(num6))

## use function of float
num7 = float(num1)
print(num7)
print(type(num7))

1.0
<class 'float'>
1.0
<class 'float'>

In [40]:
## Converting floating to integer
num8 = int(num7)
print(num8)
print(type(num8))

num9 = 1.6
num10 = int(num9)
print(num10)
num11 = int(round(num9))
print(num11)

1
<class 'int'>
1
2

In [42]:
## Convert number to string
str1 = str(num1)
print(str1)
print(type(str1))

str2 = str1*2  #different from interger multilication
print(str2)

1
<class 'str'>
11

In [32]:
# string and number can't be added
mixed = message + num1

TypeError: must be str, not int

## List
A list is a collection of items in a particular order. <br>
Examples is list1 = [1,2,3,4,5]

In [57]:
## List example
CT_AESEV = ['mild', 'moderate', 'severe']
print(CT_AESEV)
print(type(CT_AESEV))

CT_AESEVCD = [0,1,2]
print(CT_AESEVCD)
print(type(CT_AESEVCD))

['mild', 'moderate', 'severe']
<class 'list'>
[0, 1, 2]
<class 'list'>

In [58]:
## individual element in list
## index starts from 0 not from 1
print(CT_AESEV[1])
CT_AESEV1 = CT_AESEV[1] # string
print(type(CT_AESEV1))

print(CT_AESEVCD[1])
CT_AESEVCD1 = CT_AESEVCD[1] # integer
print(type(CT_AESEVCD1))

moderate
<class 'str'>
1
<class 'int'>

In [59]:
## Changing elements in the list
CT_AESEV[1] = 'normal'
print(CT_AESEV)

['mild', 'normal', 'severe']

In [60]:
## Adding elements in the list
CT_AESEV.append('not applicable')
print(CT_AESEV)

['mild', 'normal', 'severe', 'not applicable']

In [61]:
## inserting element in certain order
CT_AESEV.insert(1,'moderate')  # insert with 1 will insert 'moderate' in index order of 1
print(CT_AESEV)

['mild', 'moderate', 'normal', 'severe', 'not applicable']

In [62]:
## removing element from list
del CT_AESEV[2] # remove element using index 
print(CT_AESEV)

CT_AESEV.remove('not applicable') # remove element using values
print(CT_AESEV)

['mild', 'moderate', 'severe', 'not applicable']
['mild', 'moderate', 'severe']

In [79]:
## Finding the length of list
print(CT_AESEV)
len(CT_AESEV)

['mild', 'moderate', 'severe']

3

In [64]:
## using FOR loops with list
for ct in CT_AESEV:
    print(ct)

mild
moderate
severe

In [74]:
## Creating a list
a = 1 ; b = 2; c = 3; d = 4
list_num = []
print(type(list_num))

list_num.append(a)
print(list_num)

<class 'list'>
[1]

In [78]:
## Subsetting a list
list_num2 = [0,1,2,3,4,5,6,7,8,10]
print(list_num2)

list_num_sub2 = list_num2[:2] # subsetting 0 to 1 index number
print(list_num_sub)

list_num_sub4 = list_num2[:4] # subsetting 0 to 4 index number
print(list_num_sub4)

list_num_sub3_5 = list_num2[3:5] # subsetting 3 to 5 index number
print(list_num_sub3_5)

list_num_sub4_last = list_num2[4:] # subsetting from 4 to last index number
print(list_num_sub4_last)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 10]
[0, 1]
[0, 1, 2, 3]
[3, 4]
[4, 5, 6, 7, 8, 10]

## Tuples
A tuple is an immuntable list which can't be modified

In [83]:
## develop tuple class
tuple1 = (0,1,2,3)
print(tuple1)
print(type(tuple1))

(0, 1, 2, 3)
<class 'tuple'>

In [84]:
print(tuple1[0])
tuple1[0] = 10  ## error message

0

TypeError: 'tuple' object does not support item assignment

## Sets
A set is an unordered collection with no duplicate elements.  It does not have an index.

In [86]:
## create set class
sets1 = {'white','black','asian','other'}
print(sets1)
print(type(sets1))

{'asian', 'black', 'white', 'other'}
<class 'set'>

In [89]:
print(sets1[0])  ## error

TypeError: 'set' object does not support indexing

In [87]:
for set1 in sets1:
    print(set1)

asian
black
white
other

In [91]:
## develope set class.  It creates no duplicate 
sets2 = set('abracadabra')  
print(sets2)

sets3 = set('12567345')
print(sets3)

{'d', 'c', 'b', 'a', 'r'}
{'2', '1', '6', '4', '5', '3', '7'}

## Dictionary
A dictionary is a unordered collection which is changeable and indexed

In [93]:
## create dictionary
subject1 = {'sex':'male', 'race':'white', 'age':34}
print(subject1)
print(type(subject1))

{'sex': 'male', 'race': 'white', 'age': 34}
<class 'dict'>

A dictionary is data collections of key-value pairs. key could be number, string, list or dictionary

In [98]:
## use key in dictionary
print(subject1['sex'])
## modifying dictionary
subject1['sex']= 'female'  # update the value of key 'sex'
print(subject1)

male
{'sex': 'female', 'race': 'white', 'age': 34}

In [99]:
## assign key to other class
key1 = subject1['sex']
print(key1)
print(type(key1))
key2 = subject1['age']
print(key2)
print(type(key2))

female
<class 'str'>
34
<class 'int'>

In [103]:
### Remove key-value pairs
subject2 = {'subjid': '001-001', 'sex':'male', 'race':'white', 'age':34}
print(subject2)
print(len(subject2))
del subject2['subjid']  # remove subjid key
print(subject2)
print(len(subject2))

{'subjid': '001-001', 'sex': 'male', 'race': 'white', 'age': 34}
4
{'sex': 'male', 'race': 'white', 'age': 34}
3

In [106]:
## For looping dictionary
subject3 = {'subjid': '001-002', 'sex':'female', 'race':'asian'}
for key, value in subject3.items():
    print("Key: " + key)
    print("Value: " + value)

Key: subjid
Value: 001-002
Key: sex
Value: female
Key: race
Value: asian

In [108]:
## For looping dictionary
for value in subject3.values():
    print("Value: " + value)

Value: 001-002
Value: female
Value: asian

In [114]:
## Nesting in Dictionary - List in a dictionary
subject4 = {'subjid': '001-004', 'site':'001', 'medication':['med1','med2','med3']}
print(subject4)

## print a list of keys 
print(subject4.keys())

## subset using key medication 
med_subj4 = subject4['medication']
print(med_subj4)
print(type(med_subj4))

## subset using index
site_subj4 = subject4[1]  ## no index in dictionary

{'subjid': '001-004', 'site': '001', 'medication': ['med1', 'med2', 'med3']}
dict_keys(['subjid', 'site', 'medication'])
['med1', 'med2', 'med3']
<class 'list'>

KeyError: 1

In [116]:
## Nesting in Dictionary - dictionary in a dictionary
subject5 = {'subjid': '001-005', 'site':'001', 'name':{'last': 'Smith', 'first': 'Johh'}}
print(subject5)

## subset dictionary
name_sub5 = subject5['name']
print(name_sub5)
print(type(name_sub5))

## subject-subset of dictionary
firstname_sub5 = subject5['name']['first']
print(firstname_sub5)
print(type(firstname_sub5))

{'subjid': '001-005', 'site': '001', 'name': {'last': 'Smith', 'first': 'Johh'}}
{'last': 'Smith', 'first': 'Johh'}
<class 'dict'>
Johh
<class 'str'>

## Date Variable

In [1]:
## import date class 
import time
from datetime import date

In [8]:
## create date variable using date class
today = date.today()
print("Today is : ", today)
print("Type of date from date class : ", type(today))
today_year = today.year
print("Year of today using year method of date class : ", today_year)
print("Type of variable : ", type(today_year))

Today is :  2018-11-13
Type of date from date class :  <class 'datetime.date'>
Year of today using year method of date class :  2018
Type of variable :  <class 'int'>

In [13]:
print(today.strftime("%A %d. %B %Y"))
print(today.strftime("%d/%m/%y"))
print(today.strftime("%d/%m/%Y"))
print(today.strftime("%d. %B %Y"))

Tuesday 13. November 2018
13/11/18
13/11/2018
13. November 2018

In [7]:
## Create date class object
my_brthdt = date(2018, 11, 12)
print(my_brthdt)
print(type(my_brthdt))

2018-11-12
<class 'datetime.date'>

In [9]:
date1 = date(2017,1,1)
date2 = date(2017,1,3)
date3 = date(2017,1,10)

In [14]:
## date comparison
if date2 > date1:
    print(date2, " is later than ", date1)

2017-01-03  is later than  2017-01-01

In [16]:
### create difference between dates
diff_date = date3 - date1
print("Difference between dates is ", diff_date)
print("Type of variable is ", type(diff_date))

Difference between dates is  9 days, 0:00:00
Type of variable is  <class 'datetime.timedelta'>