In [1]:
### Import modules
from pandas import Series, DataFrame
import pandas as pd
import xport  ## write sas datasets to local drive
from sas7bdat import SAS7BDAT  ## read SAS datasets from local drive

In [7]:
## Read clinsite sas7bdat file:
with SAS7BDAT('../Study 1/Unblinded/clinsite.sas7bdat') as file: 
    df_1 = file.to_data_frame()

In [9]:
df_1.columns

Index(['STUDY', 'STUDYTL', 'DOMAIN', 'SPONNO', 'SPONNAME', 'IND', 'UNDERIND',
       'NDA', 'BLA', 'SUPPNUM', 'SITEID', 'ARM', 'ENROLL', 'SCREEN', 'DISCONT',
       'ENDPOINT', 'ENDPTYPE', 'TRTEFFR', 'TRTEFFS', 'SITEEFFE', 'SITEEFFS',
       'CENSOR', 'NSAE', 'SAE', 'DEATH', 'PROTVIOL', 'FINLMAX', 'FINLDISC',
       'LASTNAME', 'FRSTNAME', 'MINITIAL', 'PHONE', 'FAX', 'EMAIL', 'COUNTRY',
       'STATE', 'CITY', 'POSTAL', 'STREET'],
      dtype='object')

In [11]:
df_1.head()

,STUDY,STUDYTL,DOMAIN,SPONNO,SPONNAME,IND,UNDERIND,NDA,BLA,SUPPNUM,...,FRSTNAME,MINITIAL,PHONE,FAX,EMAIL,COUNTRY,STATE,CITY,POSTAL,STREET
0,ZX008-1504-C1,"A Multicenter, 2-Cohort Trial to First Assess ...",DE,1.0,Zogenix International Limited,125797.0,Y,-1.0,-1.0,-1.0,...,Rima,,33 1 44 49 48 54\r\n33 1 44 49 4,33 1 44 49 48 50,assia.ait-mebarek@aphp.fr,FRA,,,,HÔPITAL NECKER\r\nChu Paris - Hôpital Necker-e...
1,ZX008-1504-C1,"A Multicenter, 2-Cohort Trial to First Assess ...",DE,1.0,Zogenix International Limited,125797.0,Y,-1.0,-1.0,-1.0,...,Rima,,33 1 44 49 48 54\r\n33 1 44 49 4,33 1 44 49 48 50,assia.ait-mebarek@aphp.fr,FRA,,,,HÔPITAL NECKER\r\nChu Paris - Hôpital Necker-e...
2,ZX008-1504-C1,"A Multicenter, 2-Cohort Trial to First Assess ...",DE,1.0,Zogenix International Limited,125797.0,Y,-1.0,-1.0,-1.0,...,Rima,,33 1 44 49 48 54\r\n33 1 44 49 4,33 1 44 49 48 50,assia.ait-mebarek@aphp.fr,FRA,,,,HÔPITAL NECKER\r\nChu Paris - Hôpital Necker-e...
3,ZX008-1504-C1,"A Multicenter, 2-Cohort Trial to First Assess ...",DE,1.0,Zogenix International Limited,125797.0,Y,-1.0,-1.0,-1.0,...,Stephane,,01 40 03 41 04\r\n01 40 03 24 24,,karima.sif@aphp.fr,FRA,,,,HÔPITAL ROBERT DEBRÉ\r\nPôle: Pédiatrie Médical
4,ZX008-1504-C1,"A Multicenter, 2-Cohort Trial to First Assess ...",DE,1.0,Zogenix International Limited,125797.0,Y,-1.0,-1.0,-1.0,...,Stephane,,01 40 03 41 04\r\n01 40 03 24 24,,karima.sif@aphp.fr,FRA,,,,HÔPITAL ROBERT DEBRÉ\r\nPôle: Pédiatrie Médical

In [85]:
## Read original metadata
xls = pd.ExcelFile('../Study 1/Unblinded/Submission Review Report_BIMO_Listing_Study1_Unblinded.xlsx')
df_orig = pd.read_excel(xls, sheet_name='original_metadata',header=None )
df_orig[:10]

                                       0
0                                      1
1                                STUDYID
2                       Study Identifier
3                                   Char
4                                 String
5  Study or trial identification number.
6                                ABC-123
7                                      2
8                                STUDYTL
9                            Study Title

In [96]:
df_orig2 = pd.DataFrame(columns=['index', 'Variable', 'Label','Type','CT','desc','sample'])
df_orig2

Empty DataFrame
Columns: [index, Variable, Label, Type, CT, desc, sample]
Index: []

In [97]:
for i, _df1 in df_orig.iterrows():
    rem = i % 7
    div = int(i / 7) + 1 
    if rem == 0:
        #print("the remainder is", i, rem, div)
        #df_orig2.iloc[div, 'index'] = _df1
        df_orig2.loc[div, 'index'] = _df1[0]
    if rem == 1:
        df_orig2.loc[div, 'Variable'] = _df1[0]
    if rem == 2:
        df_orig2.loc[div, 'Label'] = _df1[0]
    if rem == 3:
        df_orig2.loc[div, 'Type'] = _df1[0]
    if rem == 4:
        df_orig2.loc[div, 'CT'] = _df1[0]
    if rem == 5:
        df_orig2.loc[div, 'desc'] = _df1[0]
    if rem == 6:
        df_orig2.loc[div, 'sample'] = _df1[0]
df_orig2

,index,Variable,Label,Type,CT,desc,sample
1,1,STUDYID,Study Identifier,Char,String,Study or trial identification number.,ABC-123
2,2,STUDYTL,Study Title,Char,String,Title of the study as listed in the clinical s...,"Double blind, randomized placebo controlled cl..."
3,3,SPONCNT,Sponsor Count,Num,Integer,Total count of sponsors throughout the study. ...,1
4,4,SPONNAME,Sponsor Name,Char,String,Full name of the sponsor organization conducti...,"DrugCo, Inc."
5,5,IND,IND Number,Num,6 digit identifier,Investigational New Drug (IND) application num...,10010
6,6,UNDERIND,Under IND,Char,String,Value should equal “Y” if study at the site wa...,Y
7,7,NDA,NDA Number,Num,6 digit identifier,"FDA new drug application (NDA) number, if avai...",21212
8,8,BLA,BLA Number,Num,6 digit identifier,FDA identification number for biologics licens...,123456
9,9,SUPPNUM,Supplement Number,Num,Integer,"Serial number for supplemental application, if...",4
10,10,SITEID,Study Site Identifier,Char,String,Investigator site identifier assigned by the s...,50
11,11,ARM,Description of Planned Treatment Arm,Char,String,Plain text label for the name given to an Arm ...,"Active name and dose (e.g., Active 25mg), Comp..."
12,12,SAFPOP,Number of Subjects in Safety Population,Num,Integer,Total number of subjects in safety population ...,20
13,13,SCREEN,Number of Subjects Screened,Num,Integer,Total number of subjects screened (consented) ...,100
14,14,DISCSTUD,Number of Subject Discons from Study,Num,Integer,Number of subjects in the safety population wh...,5
15,15,DISCTRT,Number of Subject Discons from Study Treatment,Num,Integer,Number of subjects in the safety population wh...,10
16,16,ENDPOINT,Primary Endpoint,Char,String,Plain text label used to describe the primary ...,Average increase in blood pressure
17,17,ENDPTYPE,Primary Endpoint Type,Char,String,"Variable type of the primary endpoint (i.e., c...",Continuous
18,18,TRTEFFR,Treatment Efficacy Result,Num,Floating Point,Summary statistic for each primary efficacy en...,"0, 0.25, 1, 100"
19,19,TRTEFFS,Treatment Efficacy Result Standard Deviation,Num,Floating Point,Standard deviation of the efficacy result (TRT...,0.065
20,20,SITEEFFE,Site-Specific Treatment Effect,Num,Floating Point,Site-specific treatment effect reported using ...,"0, 0.25, 1, 100"
21,21,SITEEFFS,Site-Specific Treatment Effect Standard Deviation,Num,Floating Point,Standard deviation of the site-specific treatm...,0.065
22,22,CENSOR,Number of Censored Observations,Num,Integer,Total number of censored observations at a giv...,5
23,23,NSAE,Number of Non-Serious Adverse Events,Num,Integer,Total number of non-serious adverse events at ...,10
24,24,SAE,Number of Serious Adverse Events,Num,Integer,"Total number of serious adverse events, exclud...",5
25,25,DEATH,Number of Deaths,Num,Integer,Total number of deaths at a given site by trea...,1
26,26,PROTVIOL,Number of Protocol Violations,Num,Integer,Total number of protocol violations at a given...,20
27,27,FINLDISC,Financial Disclosure Amount,Char,String,Total financial disclosure amount ($USD) by si...,"≥ $25,000"
28,28,LASTNAME,Investigator Last Name,Char,String,Last name of the clinical investigator as it a...,Doe
29,29,FRSTNAME,Investigator First Name,Char,String,First name of the clinical investigator as it ...,John
30,30,MINITIAL,Investigator Middle Initial,Char,String,"Middle initial of the clinical investigator, i...",M
31,31,PHONE,Investigator Phone Number,Char,String,Phone number of the clinical investigator. Inc...,44-555-555-5555
32,32,FAX,Investigator Fax Number,Char,String,Fax number of the clinical investigator. Inclu...,44-555-555-5555
33,33,EMAIL,Investigator Email Address,Char,String,Email address of the clinical investigator.,John.doe@mail.com
34,34,COUNTRY,Country,Char,ISO 3166-1-alpha-3,3 letter ISO 3166 country code in which the si...,USA
35,35,STATE,State,Char,String,Unabbreviated state or province in which the s...,Maryland
36,36,CITY,City,Char,String,"Unabbreviated city, county, or village in whic...",Silver Spring
37,37,POSTAL,Postal Code,Char,String,Postal code in which the site is located. If n...,20850
38,38,STREET,Street Address,Char,String,Street address and office number at which the ...,2005 John Fitzgerald Kennedy Boulevard Northwe...
39,39,STREET1,Street Address Continued,Char,String,Street address and office number at which the ...,"The Executive Wing, Suite # 209"

In [100]:
df_orig3 = df_orig2[['Variable','Type','Label']]
df_orig3['Type'] = df_orig3.Type.replace(['Char','Num'],['Character','Numeric']) 
df_orig3.head()

C:\Users\klee\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Variable       Type             Label
1   STUDYID  Character  Study Identifier
2   STUDYTL  Character       Study Title
3   SPONCNT    Numeric     Sponsor Count
4  SPONNAME  Character      Sponsor Name
5       IND    Numeric        IND Number

In [90]:
df_clin = pd.read_excel(xls, sheet_name='clinsite_metadata')
df_clin.head()

   Variable       Type  Length  Format  Informat                Label
1     STUDY  Character      20     NaN       NaN         Study Number
2   STUDYTL  Character     200     NaN       NaN          Study Title
3    DOMAIN  Character       2     NaN       NaN  Domain Abbreviation
4    SPONNO    Numeric       8     NaN       NaN       Sponsor Number
5  SPONNAME  Character      30     NaN       NaN         Sponsor Name

In [99]:
df_clin2 = df_clin[['Variable','Type','Label']]
df_clin2.head()

   Variable       Type                Label
1     STUDY  Character         Study Number
2   STUDYTL  Character          Study Title
3    DOMAIN  Character  Domain Abbreviation
4    SPONNO    Numeric       Sponsor Number
5  SPONNAME  Character         Sponsor Name

### Proc Compare

In [95]:
import datacompy

In [101]:
## comparison 
compare = datacompy.Compare(df_clin2, df_orig3, join_columns='Variable')

In [102]:
print(compare.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0       df1        3    39
1       df2        3    39

Column Summary
--------------

Number of columns in common: 3
Number of columns in df1 but not in df2: 0
Number of columns in df2 but not in df1: 0

Row Summary
-----------

Matched on: variable
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 33
Number of rows in df1 but not in df2: 6
Number of rows in df2 but not in df1: 6

Number of rows with some compared columns unequal: 6
Number of rows with all compared columns equal: 27

Column Comparison
-----------------

Number of columns compared with some values unequal: 2
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 6

Columns with Unequal Values or Types
------------------------------------

  Column df1 dtype df2 dtype  # Unequal  Max Diff  # Null Diff
1  label    object    object          5         0            0
0   type    object    object          1         0            0

Sample Rows with Unequal Values
-------------------------------

    variable type (df1) type (df2)
27  FINLDISC    Numeric  Character

    variable            label (df1)                           label (df2)
11       ARM          Treatment Arm  Description of Planned Treatment Arm
21    CENSOR  Censored Observations       Number of Censored Observations
10    SITEID                Site ID                 Study Site Identifier
15  ENDPOINT               Endpoint                      Primary Endpoint
16  ENDPTYPE          Endpoint Type                 Primary Endpoint Type

Sample Rows Only in df1 (First 10 Columns)
------------------------------------------

   variable       type                                label
3    SPONNO    Numeric                       Sponsor Number
12   ENROLL    Numeric          Number of Subjects Enrolled
0     STUDY  Character                         Study Number
14  DISCONT    Numeric   Number of Subject Discontinuations
2    DOMAIN  Character                  Domain Abbreviation
26  FINLMAX    Numeric  Maximum Financial Disclosure Amount

Sample Rows Only in df2 (First 10 Columns)
------------------------------------------

    variable       type                                           label
43   DISCTRT    Numeric  Number of Subject Discons from Study Treatment
42  DISCSTUD    Numeric            Number of Subject Discons from Study
39   STUDYID  Character                                Study Identifier
40   SPONCNT    Numeric                                   Sponsor Count
44   STREET1  Character                        Street Address Continued
41    SAFPOP    Numeric         Number of Subjects in Safety Population